[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Qt_Android_Helloworld
Exec=/opt/usr/bin/Qt_Android_Helloworld
Icon=Qt_Android_Helloworld
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
